*{
    padding: 0;
    margin: 0;
}

/* Header styles */
.header {
    background-color: #0078d4;
    color: #ffffff;
    padding: 20px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-title {
    font-size: 36px;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-nav li {
    margin-right: 20px;
}

.header-nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.header-title img {
    width: 100px;
}

/* Main styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* Item styles */
.item {
    margin-bottom: 20px;
    border: 2px solid #0078d4;
    padding: 20px;
    border-radius: 10px;
}

.item h2 {
    text-align: center;
}

.item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left img {
    max-width: 45%;
    height: auto;
}

.right {
    text-align: center;
    margin-top: 20px;
}
.text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

/* Footer styles (geen wijzigingen) */
footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
}
