* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.header {
    position: sticky;
    top: 0;
    background-color: #56ddef;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-title {
    color: #69197c;
    font-size: 36px;
    font-weight: bold;
}

.header-title img {
    margin-right: 10px;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-nav li {
    margin-right: 20px;
}

.header-nav a {
    font-weight: bold;
    text-decoration: none;
    color: #69197c;
    font-size: 18px;
    transition: color 0.8s ease;
}

.header-title img {
    width: 100px;
    height: auto;
}

/* Main styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Item styles */
.item {
    margin-bottom: 20px;
    border-bottom: 4px solid #56ddef;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.item h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #69197c;
    text-align: center;
    margin-bottom: 10px;
}

.item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left,
.right {
    flex: 1;
    padding: 10px;
}

.left img {
    max-width: 100%;
    height: auto;
}

.right {
    padding-left: 20px;
    text-align: left;
}

.lesson {
    margin-top: 20px;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
}

.teacher-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teacher {
    margin: 20px;
    flex: 0 0 calc(33.33% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.teacher img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.teacher p {
    margin: 0;
}

.teacher-info {
    font-size: 14px;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(Roboto-Black.ttf);
}

body {
    background-color: #f0f8ff;
}

@media screen and (max-width: 480px) {
    .header-title {
        font-size: 24px;
    }

    .header-nav ul {
        flex-direction: column;
    }

    .header-nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .item {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }

    .item h2 {
        font-size: 1.3rem;
    }

    .left img {
        max-width: 100%;
        height: auto;
    }

    .right {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .teacher {
        margin: 10px;
        flex: 0 0 calc(50% - 20px);
        text-align: center;
    }

    .teacher img {
        width: 80px;
        height: 80px;
    }

    .teacher-info {
        font-size: 12px;
    }
}